<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<h1> Welcome to my about page</h1>
		<p>Welcome to the About page of this website. Here, you can learn more about me and my student information.</p>
		<h2>About Me</h2>
		<p>My name is Tejaswini bn, and I'm a student in the Database application developer program at Seneca College.
					You can find more information about me on this page..</p>


		<!-- End your code here  -->

	</main>
</div>