/* Import Google Fonts (Add this at the top of your theme.css file) */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* App Background and Text Styles */
body, html {
    font-family: 'Roboto', sans-serif;
   background: linear-gradient(to left, #c29941, #777383);
    color: #df2828; 
    padding: 2em;
    line-height: 1.6;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/* All "Anchor" elements (HTML Links) */
.li-style{
  font-family: 'Roboto', sans-serif;
  color: #9b3333; /* New Text Color */
  transition: color 0.6s; /* Smooth color transition on hover */
}

/* Adjust the background color or gradient for .bg-light */
.bg-light {
  background: linear-gradient(to bottom, #348888, #be8417); 
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
}

/* Customize the Navigation "Brand" */
.navbar-light .navbar-brand {
  font-family: 'Roboto', sans-serif; 
  color: #0b233b; 
  text-shadow: 15px 1px 2px #fff; 
}

/* Style the Navigation Links */
.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: 'Roboto', sans-serif;
  color: #491f1f;
  transition: color 0.6s;
}

.collapse.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #45576b;
}


/* Highlight the font and add a gradient background to the selected navigation item */
.navbar .nav-item a.active {
  background: linear-gradient(to right, #03282b, #3a6999);
  color: #333b3b; 
}

/* Button Style */
.btn-primary {
  background: linear-gradient(to bottom, #220d49, #0e427a); /* Gradient Background */
  color: #fff; /* Text Color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box Shadow (outline) */
  border: none;
  padding: 10px 20px;
  border-radius: 14px;
  transition: background 0.3s, box-shadow 0.3s, color 0.3s; /* Smooth transition on hover */
}

/* Hover State */
.btn-primary:hover {
  background: #1e064b; /* Solid Background Color on hover */
  color: #fff; /* Text Color */
  box-shadow: 0 2px 4px rgba(0, 0, 0.9, 0.1); /* Adjusted Box Shadow on hover (inset) */
  cursor: pointer;
}

/* Tables */
.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  border: 0px solid rgb(43, 23, 23); /* Define the border */
  box-shadow: 0 2px 4px rgba(16, 90, 90, 0.1); /* Box shadow added */
}

.custom-table caption {
  font-family: 'Roboto', sans-serif; /* Adjust font-family as needed */
  color: #613c3c;
  padding: 0.5em;
}

.custom-table th, .custom-table td {
  padding: 0.5em;
}

.custom-table tr:nth-child(odd) td {
  background: #E6E6E6;
  box-shadow: 0 2px 14px rgba(83, 35, 35, 0.1); /* Box shadow added to odd-numbered rows */
  background-color: #F5F5F5; /* Solid Background Color for odd-numbered table rows */
}

/* Headings */
h1, h2, h3, h4, h5, h6  {
  font-family: 'Roboto', sans-serif; /* Adjust font-family as needed */
  color: #9fdb11; /* New text color for headings */
  text-shadow: 1px 1px 2px #fff; /* Text shadow for headings */
}

/* Apply a subtle box shadow to all elements */
.shadow-class {
  box-shadow: 5px 5px 10px #1f2226;
}

/* Legend Style */
legend {
  padding: 10px 0; /* Padding Top / Bottom */
  font-family: 'Roboto', sans-serif; /* Import the Google Font as needed */
  color: #007BFF; /* New Text Color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Text Shadow */
}

/* Lists */
ol, ul {
    padding-left: 2em;
}

/* Images */
img {
    margin: 1em;
    border: 1px solid #007BFF; /* Add border for images */
}

/* Audio and Video */
audio, video {
    margin: 1em;
}






